@import "../../../variables";

:host {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

mat-card {
  margin: 20px 40px;
  overflow: hidden;
}

.container {
  height: calc(100% - 25px);
  width: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  position: relative;
}
